.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
        width: 750px;
    }

    @media screen and (min-width: 992px) {
        width: 970px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }

    &--big {
        width: calc(100% - #{$percent-gap * 1%});
        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__padding {
        padding-top: 50px;
        @include media-q {
            padding-top: 80px;
        }
    }
}
